html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.alert {
  margin-bottom: 0;
  background-image: url(""); }

.importerContainer {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .importerContainer::after {
    clear: both;
    content: "";
    display: table; }

.importerContainerLeftMenu {
  float: left;
  display: block;
  margin-right: 1.5333130693%;
  width: 23.8500151981%;
  padding: 20px 20px 0 0;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background: url("../imgs/congruent_outline.png") repeat;
  background: url("../imgs/congruent_outline.png") repeat;
  max-height: 700px;
  border: 1px solid silver;
  border-left: 0; }
  .importerContainerLeftMenu:last-child {
    margin-right: 0; }
  .importerContainerLeftMenu .panel .panel-heading {
    background: -webkit-linear-gradient(90deg, #3A8AD3, darkgray);
    background: linear-gradient(90deg, #3A8AD3, darkgray); }
    .importerContainerLeftMenu .panel .panel-heading span {
      cursor: pointer; }
  .importerContainerLeftMenu .panel:last-child {
    color: black; }
    .importerContainerLeftMenu .panel:last-child .panel-heading {
      background: -webkit-linear-gradient(90deg, red, orange);
      background: linear-gradient(90deg, red, orange); }

.importerContainerRightPanel {
  float: left;
  display: block;
  margin-right: 1.5333130693%;
  width: 74.6166717327%; }
  .importerContainerRightPanel:last-child {
    margin-right: 0; }

.importerStepOne {
  float: left;
  display: block;
  margin-right: 1.5333130693%;
  width: 100%; }
  .importerStepOne:last-child {
    margin-right: 0; }
  .importerStepOne .importerSystemTitle {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
    background-image: url("../imgs/congruent_pentagon.png");
    border: 1px solid lightgrey;
    border-top: 0; }
  .importerStepOne .importerStepOneWell {
    padding: 20px 20px;
    background: url("../imgs/congruent_outline.png") repeat;
    background: url("../imgs/congruent_outline.png") repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 598px;
    border: 1px lightgrey solid; }
    .importerStepOne .importerStepOneWell .waitingSymbol {
      float: left;
      display: block;
      margin-right: 1.5333130693%;
      width: 100%;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-box-lines: multiple;
      -moz-box-lines: multiple;
      box-lines: multiple;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      height: 100%; }
      .importerStepOne .importerStepOneWell .waitingSymbol:last-child {
        margin-right: 0; }
      .importerStepOne .importerStepOneWell .waitingSymbol .alert {
        float: left;
        display: block;
        margin-right: 1.5333130693%;
        width: 49.2333434654%;
        display: block;
        margin-top: 5px; }
        .importerStepOne .importerStepOneWell .waitingSymbol .alert:last-child {
          margin-right: 0; }
        .importerStepOne .importerStepOneWell .waitingSymbol .alert::after {
          clear: both;
          content: "";
          display: table; }
    .importerStepOne .importerStepOneWell .importerListTable {
      width: 100%; }
      .importerStepOne .importerStepOneWell .importerListTable > thead > tr > th {
        display: table-cell;
        width: 33.3333333333%;
        padding: 10px;
        border-bottom: 3px solid silver;
        vertical-align: center;
        font-size: 120%;
        border-collapse: collapse; }
        .importerStepOne .importerStepOneWell .importerListTable > thead > tr > th > input {
          margin-left: 10px;
          background: linen;
          border: grey 1px solid;
          border-radius: 5px; }
      .importerStepOne .importerStepOneWell .importerListTable > tbody > tr > td {
        padding: 10px;
        border-top: 1px solid silver; }
      .importerStepOne .importerStepOneWell .importerListTable > tbody > tr:hover {
        background: black;
        color: white;
        cursor: pointer; }

.importerStepTwoB {
  float: left;
  display: block;
  margin-right: 1.5333130693%;
  width: 100%; }
  .importerStepTwoB:last-child {
    margin-right: 0; }
  .importerStepTwoB .importerStepTwoBHeader {
    float: left;
    display: block;
    margin-right: 1.5333130693%;
    width: 100%;
    display: block;
    -webkit-box-align: end;
    -moz-box-align: end;
    box-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    align-items: flex-end;
    -ms-flex-align: end;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .importerStepTwoB .importerStepTwoBHeader:last-child {
      margin-right: 0; }
    .importerStepTwoB .importerStepTwoBHeader::after {
      clear: both;
      content: "";
      display: table; }
    .importerStepTwoB .importerStepTwoBHeader .importerSystemTitle {
      float: left;
      display: block;
      margin-right: 1.5333130693%;
      width: 32.3111246205%;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background: url("../imgs/gplaypattern.png");
      background: url("../imgs/gplaypattern.png");
      text-align: center;
      border: 1px solid lightgrey;
      border-bottom: 0; }
      .importerStepTwoB .importerStepTwoBHeader .importerSystemTitle:last-child {
        margin-right: 0; }
    .importerStepTwoB .importerStepTwoBHeader .importerDataItemTabs {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      padding: 5px 1.5333130693% 5px 1.5333130693%;
      background: orange;
      background: orange;
      font-size: 150%;
      font-weight: bold;
      text-align: center;
      color: black;
      border: 1px lightgrey solid;
      border-bottom: 0;
      cursor: pointer;
      margin-right: 5px; }
      .importerStepTwoB .importerStepTwoBHeader .importerDataItemTabs:hover {
        color: white; }
      .importerStepTwoB .importerStepTwoBHeader .importerDataItemTabs.active {
        color: white; }
  .importerStepTwoB .importerStepTwoBWell {
    float: left;
    display: block;
    margin-right: 1.5333130693%;
    width: 100%;
    padding: 20px 20px;
    background: url("../imgs/congruent_outline.png") repeat;
    background: url("../imgs/congruent_outline.png") repeat;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    height: 598px;
    border: 1px lightgrey solid;
    text-align: left;
    box-shadow: 0px 0px 0px #3A8AD3; }
    .importerStepTwoB .importerStepTwoBWell:last-child {
      margin-right: 0; }
