@import "texture"
$blue-color: #3A8AD3
$yale-blue: #0F4D92
$fg-gutter: em(15px)             // Gutter Width
$importerWellHeight: 650px

.canvas
  display: block
  vertical-align: bottom
  background-image: url("../imgs/diagonal_striped_brick.png")
  background-repeat: repeat

#particles-js
  position: absolute
  width: 100%
  height: 100%

.alert
  margin-bottom: 0
  background-image: url('')

.importerContainer
  +outer-container(100%)
  .importerContainerLeftMenu
    +span-columns(3)
    +pad(20px 20px 0 0)
    +border-right-radius(20px)
    background: black

    // max-height: 700px
    border: 1px solid silver
    border-left: 0
    +transition(all 0.5s ease-in-out)
    +transform(translateX(0px))
    visibility: visible
    &.noExpanded
      display: inline-block
      +transition(all 0.45s ease-in-out)
      +transform(translateX(-800px))
    ul
      list-style: disc
      color: white
      li
        +pad()
        border-radius: 2px
        +border-right-radius(5px)
        margin-bottom: 2px
        background: orange
        font-weight: bold
        span
          color: black
          i
            margin-top: 2px
            &:hover
              color: red
              cursor: pointer

    button
      +span-columns(6)
    #submitBtn
      +span-columns(12)
      float: none
      margin-top: 10px
      display: block
      &:focus
        box-shadow: none
        outline-color: white
        outline: 0px
      &:disabled
        cursor: not-allowed
    .complicatedUploadMode
      +span-columns(12)
      margin-top: 5px
      text-align: right
      font-size: 80%
      color: white
      cursor: pointer
      &:hover
        text-decoration: underline
    .panel
      border-bottom-right-radius: 6px
      .panel-heading
        +background(linear-gradient(90deg, $blue-color, darkgray))
        position: relative
        paper-ripple
          color: black
        span
          cursor: pointer
          font-size: 100%
          font-weight: bold
          color: white
      .panel-body
        +texture(270deg, lighten($yale-blue, 10%), black , 26, 1)
        border-bottom-right-radius: 5px
        border-top: 0
        .queryJobs
          +display(flex)
          +align-items(center)
          +justify-content(center)
          button
            background: greenyellow
            color: black
            text-shadow: none
            font-weight: bold
            position: relative
            outline: none
            &:focus
              outline-color: shade(greenyellow, 10%)
              background: shade(greenyellow, 10%)
        .jobList

          +span-columns(12)
          background: transparent
          div:first-child
            +span-columns(12)
            font-size: 130%
            color: linen
            float: none
            border-bottom: 1px solid linen
            text-align: center
          ul
            min-height: 100px
            list-style-type: none
            +pad()
            +span-columns(12)
            li
              +span-columns(12)
              background: transparent
              border-bottom: 1px solid grey
              border-radius: 0
              +display(flex)
              +align-items(center)
              +justify-content(space-between)
              span
                color: white
              div.type
                border-top: 0
                color: gold
                width: auto
              &:hover
                cursor: pointer
          div:nth-child(3)
            color: linen
          div.job-list-actions
            border-top: 1px solid linen
            text-align: center
            display: inline-block
            +span-columns(12)
            +display(flex)
            +align-items(center)
            +justify-content(center)
            +pad()
            .add
              font-size: 120%
              border: none
              position: relative
              display: inline-block
              +span-columns(3)

              #waves
                border: none
            .refresh
              font-size: 120%
              border: none
              position: relative
              display: inline-block
              +span-columns(3)
              color: gold
              #waves
                border-top: 0
            //
            // .refresh
            //   background: greenyellow
            //   color: black
            //   text-shadow: none
            //   font-weight: bold
            //   position: relative
            //   outline: none
            // i
            //   margin-top: 10px
            //   font-size: 120%
            //   color: white
            //   cursor: pointer
            //   &:hover
            //     color: skyblue
        .createJobMode
          div.jobInfo
            color: white
            +span-columns(12)
            border: 1px solid white
            border-radius: 5px
            +pad()
            position: relative
            span
              color: gold
              width: auto
              font-weight: bold
            button
              position: absolute
              right: 0
              bottom: 0
              height: 100%
              width: 20%
              +border-left-radius(0)
              background: crimson
              border-left: 1px solid white
              &:hover
                background: shade(crimson, 10%)
              &:focus
                outline-color: crimson

          div.job-actions
            +span-columns(12)
            text-align: center
            font-size: 120%
            color: white
            margin-top: 10px
            +span-columns(12)
            div
              display: inline-block
              color: gold
              +span-columns(4)
            .ok
              color: greenyellow
              cursor: pointer
              position: relative
            .remove
              color: red
              cursor: pointer
              position: relative
        .waitingSymbol
          +span-columns(12)
          +align-items(center)
          +display(flex)
          +flex-direction(column)
          +justify-content(center)
          +flex-wrap(wrap)
          height: 100%
          +pad()
          min-height: 50px
          .alert
            +span-columns(6)
            +row()
            margin-top: 5px

        div.input-group
          span
            +transition(all 0.2s linear)
            border: 0
            border-radius: 0
            border-bottom: 1px solid gold
            border-right: 1px solid gold
            background: transparent

            font-weight: bold
            color: white
            &.selectSpan
              border-right: 0
          input
            +transition(all 0.2s linear)
            border: 0
            border-bottom: 1px solid gold
            border-radius: 0
            color: black
            box-shadow: none
            background: transparent
            +pad(0 10px)
            color: white
          textarea
            +transition(all 0.2s linear)
            border: 0
            border-bottom: 1px solid gold
            border-radius: 0
            color: white
            background: transparent
            box-shadow: none
          select
            +transition(all 0.2s linear)
            color: black
            box-shadow: none
            background: transparent
            +pad(0 10px)
            color: white
          &.has-error
            span
              border-right: none
              color: white
              background: crimson
            input
              background: crimson
              color: white
            textarea
              background: crimson
              color: white


      &:last-child
        color: black
        .panel-heading
          +background(linear-gradient(90deg, red, orange))
  .importerContainerRightPanel
    +span-columns(9)
    +transition(all 0.5s ease-in-out)
    position: absolute
    right: 0px
    &.expanded
      +span-columns(12)
      +pad(0 default)
    dave-importer-list-page
      .importerSetUpButton
        position: relative
        cursor: pointer
        div
          display: inline
          +pad(5px 10px 20px)
          +border-top-radius(10px)
          background: black
          color: white
          &:hover
            background: white
            color: black
          &:nth-child(2)
            background: gold
            color: black
            &:hover
              background: black
              color: gold
          &:nth-child(3)
            background: skyblue
            color: black
            &:hover
              background: darken(purple, 10%)
              color: skyblue
          &:last-child
            position: absolute
            right: 10px
            top: -10px
            border-radius: 5px
            box-shadow: 2px 2px 1px grey
            color: linen
            text-shadow: 1px 1px black
            font-weight: bold
            +texture(90deg, lighten($yale-blue, 20%),  darken(skyblue, 10%) , 9, 1)
            i
              text-shadow: none
      .importerStepOne
        +span-columns(12)
        .importerStepOneWell
          position: relative
          +pad(20px 20px)
          +texture(270deg, black, black , 18, 1)
          +border-top-radius(10px)
          +border-bottom-radius(10px)
          height: $importerWellHeight
          border: 1px lightgrey solid
          margin-bottom: 7px
          &.search-mode
            +display(flex)
            +justify-content(center)
            +align-items(center)
            +texture(0deg, $yale-blue,  darken(purple, 10%) , 23, 1)
          .waitingSymbol
            +span-columns(12)
            +align-items(center)
            +display(flex)
            +flex-direction(column)
            +justify-content(center)
            +flex-wrap(wrap)
            height: 100%

            .alert
              +span-columns(6)
              +row()
              margin-top: 5px
          .importerListTable
            width: 100%
            & > thead > tr > th
              +pad(10px)
              border-bottom: 3px solid silver
              vertical-align: center
              font-size: 110%
              border-collapse: collapse
              color: white
              & > label
                display: block
                i
                  font-size: 80%
                  color: skyblue
                  text-shadow: 1px 1px #0F4D92
                  cursor: pointer
                  &.glyphicon-chevron-left:hover
                    transform: translateX(-1px)
                    color: gold
                    text-shadow: 1px 1px coral
                  &.glyphicon-chevron-right:hover
                    transform: translateX(1px)
                    color: gold
                    text-shadow: 1px 1px coral
              & > input
                background: linen
                border: grey 1px solid
                border-radius: 5px
                width: 80%
                color: black
                &:focus
                  outline-color: orange
                  border-radius: 0px
              & > i
                +transition(all 0.25s linear)
                color: LIMEGREEN
                cursor: pointer
                &:hover
                  color: grey

              &:last-child
                text-align: center
                a
                  text-decoration: none
                  color: gold
                  &:hover
                    text-decoration: none

                i
                  color: gold
                  font-size: 150%
                  display: block
                  &:hover
                    color: LIMEGREEN
                ul.dropdown-menu
                  +pad(2px)
                  min-width: 300px
                  color: $yale-blue
                  right: 0
                  left: auto
                  background: silver
                  border-radius: 5px
                  border: 1px solid skyblue
                  &.noAvaliableHeaders
                    background: black
                    color: white
                    text-align: center

                  li
                    width: auto
                    +pad()
                    color: gold
                    +texture(180deg, $yale-blue,  $yale-blue , 26, 1)
                    +display(flex)
                    +justify-content(space-between)
                    +align-items(center)
                    border-bottom: 1px skyblue solid
                    font-weight: bold
                    input.form-control
                      display: inline
                      width: 65%
                      height: 1.5em


                    &:last-child
                      border-bottom: 0px
                    &:hover
                      +texture(180deg, gold,  gold , 26, 0)
                      color: $yale-blue
                      cursor: pointer
            & > tbody > tr > td
              +pad(10px)
              border-top: 1px solid silver
            & > tbody > tr:hover
              background: black
              color: white
              cursor: pointer
    dave-importer-page
      .importerStepTwoB
        +span-columns(12)
        .importerSetUpButton
          cursor: pointer
          div
            display: inline
            +pad(5px 10px 20px)
            +border-top-radius(10px)
            background: black
            color: white
            &:hover
              background: white
              color: black
            &:nth-child(2)
              background: gold
              color: black
              &:hover
                background: black
                color: gold
            &:nth-child(3)
              background: skyblue
              color: black
              &:hover
                background: darken(purple, 10%)
                color: skyblue
        .importerStepTwoBWell
          +span-columns(12)
          +pad(20px 20px)
          +texture(180deg, $yale-blue,  darken(skyblue, 20%) , 80, 1)
          +border-left-radius(10px)
          +border-right-radius(10px)
          +row()
          border: 2px orange solid
          text-align: left
          box-shadow: 0px 0px 0px #3A8AD3
          height: $importerWellHeight + 30px

          .importerStepTwoBWellLeft
            +span-columns(4)
            height: 100%
            border: 2px solid white
            border-radius: 5px

            .importerNameCard
              +span-columns(12)
              +pad(20px 20px)
              background: transparent
              color: skyblue
              text-shadow: -1px 0px #0f4d92
              margin-bottom: 10px
              height: 10em
              border-radius: 5px
              div
                span:nth-child(1)
                  font-size: 120%
                  font-weight: bold
                  i
                    color: gold
                    font-size: 80%
                    text-shadow: none
                span:nth-child(2)
                  font-size: 120%
                  font-weight: bold
                  color: white
              .description
                overflow: auto
                height: 6em
                background: transparent
                color: skyblue
                font-weight: bold

            .importerStepTwoBDataItems
              +span-columns(12)
              +pad(10px 20px)
              height: 32em
              background: transparent
              .title
                +span-columns(12)
                color: gold
                font-size: 200%
                font-weight: bold
                text-shadow: 0px -2px darken(purple, 20%)
              .importerStepTwoBDataItemsList
                +span-columns(12)
                margin-top: 10px
                height: 80%
                overflow-y: auto
                border-radius: 5px
                .importerStepTwoBDataItem
                  +span-columns(12)
                  +pad()
                  +texture(90deg, gold,  darken(coral, 10%) , 31, 0)
                  border-radius: 0px
                  border-top: 1px solid white
                  border-right: 1px solid white
                  border-left: 1px solid white
                  font-weight: bold
                  font-size: 120%
                  cursor: pointer
                  color: white

                  &:hover
                    color: $yale-blue
                  &.active
                    +background(linear-gradient(135deg, $yale-blue, lighten($yale-blue, 30%)))
                    color: gold


                  &:first-child
                    +border-top-radius(5px)
                  &:last-child
                    +border-bottom-radius(5px)
                    border-bottom: 1px solid white
          .importerStepTwoBWellRight
            +span-columns(8)
            +background(url('../imgs/classy_fabric.png') repeat)
            background: transparent
            +pad()
            border-radius: 0px
            // border-left: 2px orange solid
            box-shadow: 0px 0px 0px black inset
            height: 100%
            white-space: nowrap
            .dataItemStatus
              overflow-y: scroll
              +span-columns(12)
              .field-button
                border-radius: 0
                font-weight: bold
                +border-right-radius(5px)
                +border-left-radius(5px)
                border-color: orange
                color: white
                margin-right: 5px
                background-color: transparent
                span:first-child
                  color: orange
            .title
              +span-columns(12)
              +display(flex)
              +align-items(center)
              color: skyblue
              font-size: 150%
              span
                +pad(2px 2px)
                font-size: 50%
                color: lighten(#8AC007, 10%)
                border: 1px solid
                border-radius: 2px
                margin-left: 3px
            .importerStepTwoBDataItemData
              +span-columns(12)
              border-radius: 5px
              background: transparent
              overflow-y: auto
              height: 85%
              top: -1px
              +border-bottom-radius(0px)
              &.emptySign
                +display(flex)
                +align-items(center)
                +justify-content(center)
              color: white
              .waitingSymbol
                +span-columns(12)
                +align-items(center)
                +display(flex)
                +flex-direction(column)
                +justify-content(center)
                +flex-wrap(wrap)
                height: 100%

                .alert
                  +span-columns(6)
                  +row()
                  margin-top: 5px
              .importerStepTwoBDataItemTable
                width: 100%
                text-align: center
                & > thead > tr > th
                  +pad(10px)
                  // border-bottom: 3px solid silver
                  vertical-align: center
                  font-size: 120%
                  border-collapse: collapse
                  text-align: center
                & > tbody > tr > td
                  +pad(10px)
                  // border-top: 1px solid silver
            .importerStepTwoBDataItemOptions
              +span-columns(12)
              +display(flex)
              +justify-content(flex-end)
              margin-top: 10px
              button
                +span-columns(3)
                font-weight: bold
                &:first-child
                  background: transparent
                  color: black
                  text-shadow: none
                  box-shadow: 0px 0px
                  border: 1px solid black
                  &:hover
                    color: white
                    background-color: black
                    border-color: white
                  &:focus
                    outline-color: black
                &:nth-child(2)
                  background: transparent
                  border: 1px white solid
                  color: white
                  box-shadow: 0 0
                  text-shadow: none
                  margin: 0
                  &:hover
                    color: black
                    background-color: white
                    border-color: black
                  &:focus
                    outline-color: white

    .importerStepTwo
      height: $importerWellHeight
      text-align: center

    .progressbar-container
      +span-columns(6)
      +shift(3)
      margin-top: 0.45 * $importerWellHeight
      color: black
      .progressingStat
        text-align: right
        +pad()
        span
          +pad(5px default)
          border-radius: 10px
          font-weight: bold
          color: white
          background: lighten($yale-blue, 10%)

    dave-importer-configuration-page
      .importerStepThree
        .importerStepThreeHeader
          +texture(90deg, darken(skyblue,50%), darken(skyblue,10%) , 88, 0)
          +span-columns(12)
          +row()
          +display(flex)
          +align-items(center)
          padding-left: 15px
          border-radius: 5px
          text-align: left
          border: 0px solid gray
          margin-bottom: 10px
          +border-right-radius(0)
          border: 2px silver solid
          border-right: 0
          .title
            +span-columns(9)
            display: inline-block
            color: linen
            font-size: 250%
            // font-weight: bold
          .options
            +span-columns(3)
            height: 100%
            display: inline-block
            button:first-child
              background: orange
              color: black
              +pad(1px 10px)
              border: 1px linen solid
              font-size: 150%
            button:nth-child(2)
              background: linen
              color: black
              +pad(1px 10px)
              border: 1px orange solid
              font-size: 150%
        .importerStepThreeWell
          +span-columns(12)
          +pad(20px)
          height: $importerWellHeight - 5px
          +texture(90deg,  darken($yale-blue, 20%) ,darken(skyblue, 50%), 32, 0)
          border-radius: 15px
          +border-right-radius(0px)
          text-align: left
          border: 2px solid silver
          border-right: 0
          .importerStepThreeField
            +span-columns(4)
            margin-right: 10px
            .panel-heading
              +texture(90deg,  skyblue, linen, 73, 0)
              font-size: 125%
            .panel-body
              height: 200px
              overflow-y: auto
              background: linen
dave-importer-search-mode-page
  .importerSetUpButton
    cursor: pointer
    div
      display: inline
      +pad(5px 10px 20px)
      +border-top-radius(10px)
      background: black
      color: white
      &:hover
        background: white
        color: black
      &:nth-child(2)
        background: gold
        color: black
        &:hover
          background: black
          color: gold
      &:nth-child(3)
        background: skyblue
        color: black
        &:hover
          background: darken(purple, 10%)
          color: skyblue
  .search-mode-well
    position: relative
    +pad(20px 20px)
    +background(url('../imgs/congruent_outline.png') repeat)
    +border-top-radius(10px)
    +border-bottom-radius(10px)
    height: $importerWellHeight
    border: 1px lightgrey solid
    margin-bottom: 7px
    +display(flex)
    +justify-content(center)
    +align-items(center)
    +texture(0deg, $yale-blue,  darken(purple, 10%) , 23, 1)
    .search-mode-brand
      +span-columns(3)
      h1
        +display(flex)
        +align-items(center)
        +justify-content(flex-end)
        color: gold
        font-family: "Slabo 27px"
        text-shadow: 0px -2px $yale-blue
        i
          margin-right: 5px
          text-shadow: 0px -1px $yale-blue
      button
        +span-columns(6)
        background: transparent
        &:nth-child(1)
          color: #8AC007
          outline-color: #8AC007
          border-color: #8AC007
          text-shadow: 0px -1px darken($yale-blue, 0%)
          box-shadow: 0px 0px
        &:nth-child(2)
          color: orange
          outline-color: orange
          box-shadow: 0px 0px
      .search-mode-result
        margin-top: 15px
        +span-columns(12)
        text-align: left
        div:nth-child(1)
          font-weight: bold
          span:first-child
            color: lighten(#8AC007, 10%)
            i
              color: lighten(#8AC007, 10%)
              float: right
              font-size: 120%
          span:nth-child(2)
            color: white
            font-weight: bold
        div:nth-child(2)
          font-weight: bold
          span:first-child
            color: lighten(skyblue, 10%)
            i
              color: lighten(skyblue, 10%)
              float: right
              font-size: 120%
          span:nth-child(2)
            color: white
            font-weight: bold
    .search-mode-input-group
      +span-columns(4)
      color: linen
      line-height: 3em
      border-left: 1px solid gold

      +pad()
      .search-mode-input
        +display(flex)
        +justify-content(flex-end)
        div
          +row()
          +span-columns(12)
          span
            +span-columns(3)
            display: inline-block
            font-size: 130%
            color: gold
            text-shadow: 0px -1px black
          input
            +pad()
            +span-columns(9)
            background: transparent
            color: linen
            font-weight: bold
            display: inline-block
            box-shadow: 2px 2px darken(purple, 10%) inset

    .search-mode-dashboard
      +span-columns(4)
      .search-mode-input-result
        margin-bottom: 5px
        border: 1px inset black
        border-radius: 5px
        +pad()
        span:nth-child(1)
          color: linen
      .search-mode-result
        span:nth-child(1)
          display: block
          color: #8AC007
        span:nth-child(2)
          display: block
          color: skyblue
