@import "bourbon"
@import "bourbon", "neat"
$blueColor: #3A8AD3
$fg-gutter: em(15px)             // Gutter Width
$importerStepOneWellHeight: 598px

.alert
  margin-bottom: 0
  background-image: url('')
.importerContainer
  +outer-container(100%)

.importerContainerLeftMenu
  +span-columns(3)
  +pad(20px 20px 0 0)
  +border-right-radius(20px)
  +background(url("../imgs/congruent_outline.png") repeat)

  max-height: 700px
  border: 1px solid silver
  border-left: 0
  .panel
    .panel-heading
      +background(linear-gradient(90deg, $blueColor, darkgray))
      span
        cursor: pointer
    &:last-child
      color: black
      .panel-heading
        +background(linear-gradient(90deg, red, orange))

.importerContainerRightPanel
  +span-columns(9)

.importerStepOne
  +span-columns(12)
  .importerSystemTitle
    +border-bottom-radius(50px)
    text-align: center
    background-image: url('../imgs/congruent_pentagon.png')
    border: 1px solid lightgrey
    border-top: 0

  .importerStepOneWell
    +pad(20px 20px)
    +background(url('../imgs/congruent_outline.png') repeat)
    +border-top-radius(10px)
    +border-left-radius(10px)
    height: $importerStepOneWellHeight
    border: 1px lightgrey solid

    .waitingSymbol
      +span-columns(12)
      +align-items(center)
      +display(flex)
      +flex-direction(column)
      +justify-content(center)
      +flex-wrap(wrap)
      height: 100%

      .alert
        +span-columns(6)
        +row()
        margin-top: 5px
    .importerListTable
      width: 100%
      & > thead > tr > th
        +span-columns(4, table)
        +pad(10px)
        border-bottom: 3px solid silver
        vertical-align: center
        font-size: 120%
        border-collapse: collapse
        & > input
          margin-left: 10px
          background: linen
          border: grey 1px solid
          border-radius: 5px
      & > tbody > tr > td
        +pad(10px)
        border-top: 1px solid silver
      & > tbody > tr:hover
        background: black
        color: white
        cursor: pointer

.importerStepTwoB
  +span-columns(12)

  .importerStepTwoBHeader
    +span-columns(12)
    +row()
    +align-items(flex-end)
    +display(flex)
    .importerSystemTitle
      +span-columns(4)
      +border-top-radius(50px)
      +border-bottom-radius(0)
      +background(url('../imgs/gplaypattern.png'))
      text-align: center
      border: 1px solid lightgrey
      border-bottom: 0
    .importerDataItemTabs
      +border-top-radius(5px)
      +pad(5px default 5px default)
      +background(orange)
      font-size: 150%
      font-weight: bold
      text-align: center
      color: black
      border: 1px lightgrey solid
      border-bottom: 0
      cursor: pointer
      margin-right: 5px
      &:hover
        color: white

      &.active
        color: white

  .importerStepTwoBWell
    +span-columns(12)
    +pad(20px 20px)
    +background(url('../imgs/congruent_outline.png') repeat)
    +border-bottom-radius(10px)
    +border-right-radius(10px)
    height: $importerStepOneWellHeight
    border: 1px lightgrey solid
    text-align: left
    box-shadow: 0px 0px 0px #3A8AD3
