
<div class="dataItemStepTwoB" >

  <div class="dataItemSetUpButton">
    <div class=" animated fadeIn" ng-click="daveDataItemDisplayPageCtrl.toggleLeftMenu()"><i class="glyphicon glyphicon-arrow-right  animated flipInY" id="js-expand-arrow"></i><span id="js-expand-sign"> Expand</span></div>
    <div ng-click="daveDataItemDisplayPageCtrl.backToDataItemList()"><span id="js-expand-sign"> Back</span></div>
    <div class=" animated fadeIn" ng-click="daveDataItemDisplayPageCtrl.toggleSearchMode()"><i class="glyphicon glyphicon-eye-open animated flipInY" id="js-expand-search"></i><span id="js-search-sign"> Search Mode</span></div>

  </div>

  <div class="dataItemStepTwoBWell animated fadeIn">

    <div class="dataItemStepTwoBWellLeft" >
      <div class="dataItemStepTwoBWellLeftHeader">
        <div>Graph Control</div>
        <div ng-click="daveDataItemDisplayPageCtrl.addDataItem()">
          <span>Add</span>  <i class="glyphicon glyphicon-plus"></i>

        </div>
      </div>
      <div class="dataItemNameCard animated fadeIn" ng-repeat = "dataItem in daveDataItemDisplayPageCtrl.currentDataItems track by dataItem.name">
        <div class="info">
          <div>
            <span>Name: </span>
            <span>{{dataItem.name}}</span>
          </div>
          <div><span>Location: </span><span>{{dataItem.location}}</span></div>
        </div>

        <paper-button id="data-item-setting-paper-button" ng-click="daveDataItemDisplayPageCtrl.openSettingModal($index)"><iron-icon icon="settings"></iron-icon>Setting</paper-button>

        <div ng-if="daveDataItemDisplayPageCtrl.currentDataItemsStatus[$index]" class="paper-button-container" ng-click="daveDataItemDisplayPageCtrl.changeDataItemStatusTo(dataItem, $index, false)"><paper-button id="data-item-cancel-paper-button">
          <iron-icon icon="cancel"></iron-icon></paper-button>
        </div>
        <div ng-if="!daveDataItemDisplayPageCtrl.currentDataItemsStatus[$index]"  class="paper-button-container" ng-click="daveDataItemDisplayPageCtrl.changeDataItemStatusTo(dataItem, $index, true)"><paper-button id="data-item-add-paper-button">
          <iron-icon icon="add-circle"></iron-icon></paper-button>
        </div>
      </div>

    </div>

    <div class="dataItemStepTwoBWellRight">


      <div class = "dave-data-item-graph">
        <div class = "waitingSymbol" ng-show="daveDataItemDisplayPageCtrl.loading" ng-repeat="dataItem in daveDataItemDisplayPageCtrl.dataItemsToWait track by dataItem.name">
          <alert class="animated fadeInDown" id="dataItem{{$index}}" ng-repeat="alert in daveDataItemDisplayPageCtrl.alerts" type="{{alert.type}}" close="daveDataItemDisplayPageCtrl.closeAlert($index)">
            {{alert.msg}}
          </alert>
          <div class="progressbar-container">
            <div class="progressingStat"><span>Data Received: {{daveDataItemDisplayPageCtrl.dataItemsData[dataItem.name].length | number:0 }} for {{dataItem.name}}</span></div>
            <progressbar max = "100" style="height:3em;background: transparent; border: 1px solid white" class="progress active" value="daveDataItemDisplayPageCtrl.completeStates[dataItem.name]" type="info"><span style="font-size: 130%;font-style: normal;color: black;font-weight: bold;line-height: 2.6em;display: block">{{daveDataItemDisplayPageCtrl.waitingMessage}}</span></progressbar>
          </div>
        </div>
        <div id="container" ng-hide = "daveDataItemDisplayPageCtrl.loading"></div>
      </div>


    </div>
  </div>
</div>
