<div class="importerStepTwoB" >

  <div class="importerSetUpButton">
    <div class=" animated fadeIn" ng-click="daveImporterPageCtrl.toggleLeftMenu()"><i class="glyphicon glyphicon-arrow-right  animated flipInY" id="js-expand-arrow"></i><span id="js-expand-sign"> Expand</span></div>
    <div ng-click="daveImporterPageCtrl.backToImporterList()"><span id="js-expand-sign"> Back</span></div>
    <div class=" animated fadeIn" ng-click="daveImporterPageCtrl.toggleSearchMode()"><i class="glyphicon glyphicon-eye-open animated flipInY" id="js-expand-search"></i><span id="js-search-sign"> Search Mode</span></div>

    <!-- <div ng-click="daveImporterPageCtrl.toggleSearchMode()"><i class="glyphicon glyphicon-eye-open animated flipInY" id="js-expand-search"></i><span class="js-search-sign"> Search Mode</span></div> -->
  </div>

  <div class="importerStepTwoBWell animated fadeIn">

    <div class="importerStepTwoBWellLeft" >
      <div class="importerNameCard">
        <div><span><i class="glyphicon glyphicon-file"></i> Name: </span><span>{{daveImporterPageCtrl.importerToDisplay.importerName}}</span></div>
        <div><span><i class="glyphicon glyphicon-globe"></i> Location: </span><span>{{daveImporterPageCtrl.importerToDisplay.location}}</span></div>
        <div><span><i class="glyphicon glyphicon-user"></i> Owner: </span><span>{{daveImporterPageCtrl.importerToDisplay.ownerName}}</span></div>
        <div class="description"><span><i class="glyphicon glyphicon-info-sign"></i> Description: </span><span>{{daveImporterPageCtrl.importerToDisplay.description}}</span></div>
      </div>
      <div class="importerStepTwoBDataItems">

        <div class="title">
          <span>Avaliable Data Items</span>
        </div>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1" style="color:#3A8AD3">
            <i class="glyphicon glyphicon-search"></i>
          </span>
          <input type="text" class="form-control" placeholder="Search" ng-model="daveImporterPageCtrl.serach.fieldName">
        </div>

        <div class="importerStepTwoBDataItemsList">

          <div class="importerStepTwoBDataItem" ng-repeat = "dataItem in daveImporterPageCtrl.importerToDisplayContent | filter: daveImporterPageCtrl.serach" ng-class="{'active' : dataItem.fieldName === daveImporterPageCtrl.currentDataItem.fieldName}" ng-click="daveImporterPageCtrl.chooseDataItem(dataItem)">
            {{dataItem.fieldName}}
            <i class="pull-right glyphicon glyphicon-record" style="margin-top:3px"></i>
          </div>

        </div>
      </div>
    </div>

    <div class="importerStepTwoBWellRight">
      <div class="title" >
        {{daveImporterPageCtrl.currentDataItem.fieldName}}
        <span ng-show="!daveImporterPageCtrl.loading">
          <i class="glyphicon glyphicon-ok"></i>
          ACTIVE
        </span>
      </div>

      <button type="button" class="btn field-button" ng-if="key !== 'topic'" ng-repeat="(key, config) in daveImporterPageCtrl.currentDataItem.availableOptions"><span>{{key}}:</span><span> {{config.value}}</span></button>


      <div class="importerStepTwoBDataItemData animated fadeIn">

        <div class = "waitingSymbol" ng-show="daveImporterPageCtrl.loading">
          <alert class="animated fadeInDown" id="importer{{$index}}" ng-repeat="alert in daveImporterPageCtrl.alerts" type="{{alert.type}}" close="daveImporterPageCtrl.closeAlert($index)">
            {{alert.msg}}
          </alert>
          <img ng-show = "daveImporterPageCtrl.systemStatus == 'Normal'" src="../imgs/477_black.GIF"/>
          <!-- <div id="loader-wrapper">
            <div id="loader"></div>
          </div> -->
        </div>
        <table class="importerStepTwoBDataItemTable" ng-show="!daveImporterPageCtrl.loading">
          <thead>
            <th>Date</th>
            <th>{{daveImporterPageCtrl.currentDataItem.fieldName}}</th>
          </thead>
          <tbody >
            <tr ng-repeat = "entry in daveImporterPageCtrl.importerDataItemData track by entry[0]">
              <td>{{entry[0] | date : 'yyyy/MM/dd HH:mm:ss.sss'}}</td>
              <td>{{entry[1]}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="importerStepTwoBDataItemOptions animated fadeIn">
        <button type="button" class="btn btn-info" ng-click="daveImporterPageCtrl.viewMoreData()">View More Data</button>
        <button type="button" class="btn btn-warning" ng-click="daveImporterPageCtrl.updateImporter()">Update This Data Item</button>
      </div>



    </div>
  </div>
</div>
