#importerOptions #importerOptionsFirst .panel-heading  {
  background:linear-gradient(90deg, #3A8AD3, darkgray);

}

#importerOptions #importerOptionsFirst .panel-body  {
  background:lightgrey;

}

#importerOptions #importerOptionsSecond .panel-heading  {
  background:linear-gradient(90deg, #3A8AD3, darkgray);
}

#importerOptions #importerOptionsThird .panel-heading  {
  background:linear-gradient(90deg, #3A8AD3, darkgray);
}

#importerOptions #importerOptionsFourth .panel-heading  {
  background:linear-gradient(90deg, red, orange);
}



#importerPanel{
  height:500px;
  border-radius:10px;
}

textarea {
  resize: vertical;
}

#stepThreeFields:first-child{
  margin-top:15px;
}

#stepThreeFields .panel{
  border-radius:10px;
}

#stepThreeFields .panel-heading{
  border-radius:5px;
  color:white;
  background:linear-gradient(270deg,black , black);
}

.whiteBackground{
  background-color:white;
}

.importerSystemTitle{
  text-align:center;
  background-color:white;
  border-radius:50px;
  box-shadow:0px 3px 0px #ff6600;
  border-bottom:1px solid white;
}

.footer{
  height:150px;
  background:white;
}



div .formly-field button{
  margin-top:15px;
  background:#8AC007;
  width:100%;
  color:white;
  border:1px solid green;
}

.animate-show {
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 2s;
  transition: all linear 2s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
}

/*----------------------*/

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #8AC007;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
