#importerOptions #importerOptionsFirst .panel-heading  {
  background:linear-gradient(90deg, #3A8AD3, darkgray);
}

#importerOptions #importerOptionsSecond .panel-heading  {
  background:linear-gradient(90deg, #3A8AD3, darkgray);
}

#importerOptions #importerOptionsThird .panel-heading  {
  background:linear-gradient(90deg, #3A8AD3, darkgray);
}

#importerOptions #importerOptionsFourth .panel-heading  {
  background:linear-gradient(90deg, red, orange);
}



#importerPanel{
  height:500px;

  background-color: #add8e6;
  box-shadow: 4px 4px 0px orange;

  border-radius:20px;
}

textarea {
   resize: vertical;
}
