
<div class="importerContainer">
  <div class="importerContainerLeftMenu noExpanded">
    <accordion close-others="true">
      <accordion-group is-open="importerUploadCtrl.optionStatus.firstOpen" id="importerOptionsFirst" style="border-color:black;" >
        <accordion-heading>
          <span style="font-size:100%;font-weight:bold;color:white">Create New Importer</span>
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': importerUploadCtrl.optionStatus.firstOpen, 'glyphicon-chevron-right': !importerUploadCtrl.optionStatus.firstOpen}" style="font-size:100%;color:white"></i>
        </accordion-heading>
        <formly-form model="importerUploadCtrl.formModel" fields="importerUploadCtrl.formFields"></formly-form>
        <div>
          <ul style="margin-top:5px">
            <li ng-repeat="file in importerUploadCtrl.formModel.Browse track by file.name">
              {{file.name}}
              <i class="glyphicon glyphicon-remove" style="float:right;padding-right:5px" ng-click="importerUploadCtrl.removeFile(file)"></i>
            </li>
          </ul>
        </div>
        <div>
          <button type="button" ng-disabled = "(!importerUploadCtrl.formModel['Browse'].length) || (!importerUploadCtrl.stepOne)" ng-click = "importerUploadCtrl.submitFile()" class="btn btn-success col-md-11" style="margin-top:15px;background:#8AC007">Submit</button>
          <button type="button" ng-click = "importerUploadCtrl.cancelFile()" ng-disabled = "!importerUploadCtrl.stepOne" class="btn btn-danger col-md-11" style="margin-top:15px;background:#FF4500">Cancel</button>
        </div>
        <div class="complicatedUploadMode">Multiple Sources?</div>
      </accordion-group>
      <accordion-group is-open="importerUploadCtrl.optionStatus.secondOpen" id="importerOptionsSecond" style="border-color:black">
        <accordion-heading>
          <span style="font-size:100%;font-weight:bold;color:white">System Status</span>
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': importerUploadCtrl.optionStatus.secondOpen, 'glyphicon-chevron-right': !importerUploadCtrl.optionStatus.secondOpen}" style="font-size:100%;color:white"></i>
        </accordion-heading>
        System Status Info
      </accordion-group>

      <accordion-group is-open="importerUploadCtrl.optionStatus.thirdOpen" id="importerOptionsThird" style="border-color:black">
        <accordion-heading>
          <span style="font-size:100%;font-weight:bold;color:white">Default Display Setting</span>
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': importerUploadCtrl.optionStatus.thirdOpen, 'glyphicon-chevron-right': !importerUploadCtrl.optionStatus.thirdOpen}" style="font-size:100%;color:white"></i>

        </accordion-heading>
        Default Setting Info
      </accordion-group>

      <accordion-group is-open="importerUploadCtrl.optionStatus.fourthOpen" id="importerOptionsFourth" style="border-color:black">
        <accordion-heading>
          <span style="font-size:100%;font-weight:bold;color:white">Help</span>
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': importerUploadCtrl.optionStatus.fourthOpen, 'glyphicon-chevron-right': !importerUploadCtrl.optionStatus.fourthOpen}" style="font-size:100%;color:white"></i>

        </accordion-heading>
        Help Info
      </accordion-group>

    </accordion>

  </div>

  <div class="importerContainerRightPanel animated fadeIn expanded" >
    <dave-importer-list-page></dave-importer-list-page>
  </div>
</div>
