
<div class="importerContainer">
  <div class="importerContainerLeftMenu noExpanded">
    <accordion close-others="true">
      <accordion-group is-open="importerUploadCtrl.optionStatus.firstOpen" id="importerOptionsFirst"  >
        <accordion-heading>
          <span >Create New Importer</span>
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': importerUploadCtrl.optionStatus.firstOpen, 'glyphicon-chevron-right': !importerUploadCtrl.optionStatus.firstOpen}" style="font-size:100%;color:white"></i>
        </accordion-heading>
        <formly-form model="importerUploadCtrl.createNewImporterFormModel" fields="importerUploadCtrl.createNewImporterFormFields"></formly-form>
        <button type="button" class="btn btn-info" id="submitBtn" ngf-select ngf-multiple="true" ng-model="importerUploadCtrl.fileToUpload" accept = "csv" ng-disabled = "!(importerUploadCtrl.createNewImporterFormModel.Location && importerUploadCtrl.createNewImporterFormModel.Name)" >Browse</button>
        <div>
          <ul style="margin-top:5px">
            <li ng-repeat="file in importerUploadCtrl.fileToUpload track by file.name">
              <span style="border: 0;box-shadow: 0;background: inherit">{{file.name}}
              <i class="glyphicon glyphicon-remove" style="float:right;padding-right:5px" ng-click="importerUploadCtrl.removeFile(file)"></i>
            </span>
            </li>
          </ul>
        </div>
        <div>
          <button type="button" ng-disabled = "(!importerUploadCtrl.fileToUpload.length) || (!importerUploadCtrl.stepOne)" ng-click = "importerUploadCtrl.submitFile()" class="btn btn-success col-md-11" style="margin-top:15px;background:#8AC007">Submit</button>
          <button type="button" ng-click = "importerUploadCtrl.cancelFile()" ng-disabled = "!importerUploadCtrl.stepOne" class="btn btn-danger col-md-11" style="margin-top:15px;background:#FF4500">Cancel</button>
        </div>
        <div class="complicatedUploadMode">Multiple Sources?</div>
      </accordion-group>
      <accordion-group is-open="importerUploadCtrl.optionStatus.secondOpen" id="importerOptionsSecond" >
        <accordion-heading>
          <span >Random Data Generator Config</span>
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': importerUploadCtrl.optionStatus.secondOpen, 'glyphicon-chevron-right': !importerUploadCtrl.optionStatus.secondOpen}" style="font-size:100%;color:white"></i>
        </accordion-heading>
        <formly-form model="importerUploadCtrl.randomImporterFormModel" fields="importerUploadCtrl.randomImporterFormFields"></formly-form>
        <div>
          <button type="button" ng-click = "importerUploadCtrl.createRandomImporter()" class="btn btn-success col-md-11" style="margin-top:15px;background:#8AC007">Send</button>
          <button type="button" ng-click = "importerUploadCtrl.cancelRandomImporter()" class="btn btn-danger col-md-11" style="margin-top:15px;background:#FF4500">Cancel</button>
        </div>
      </accordion-group>

      <accordion-group is-open="importerUploadCtrl.optionStatus.thirdOpen" id="importerOptionsThird" >
        <accordion-heading>
          <span >Default Display Setting</span>
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': importerUploadCtrl.optionStatus.thirdOpen, 'glyphicon-chevron-right': !importerUploadCtrl.optionStatus.thirdOpen}" style="font-size:100%;color:white"></i>

        </accordion-heading>
        Default Setting Info
      </accordion-group>

      <accordion-group is-open="importerUploadCtrl.optionStatus.fourthOpen" id="importerOptionsFourth" >
        <accordion-heading>
          <span >Help</span>
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': importerUploadCtrl.optionStatus.fourthOpen, 'glyphicon-chevron-right': !importerUploadCtrl.optionStatus.fourthOpen}" style="font-size:100%;color:white"></i>

        </accordion-heading>
        Help Info
      </accordion-group>

    </accordion>

  </div>

  <div class="importerContainerRightPanel animated fadeIn expanded" >
    <dave-importer-list-page class="angular-directive"></dave-importer-list-page>
    <div class="progressbar-container" ng-show="importerUploadCtrl.progressing">
      <div class="progressingStat"><span>{{importerUploadCtrl.progressingStat[0]}}/{{importerUploadCtrl.progressingStat[1]}}</span></div>
      <progressbar max = "100" style="height:3em" class="progress-striped active" value="importerUploadCtrl.fileUploadProgress" type="warning"><span style="font-size: 130%;font-style: normal;color: black;font-weight: bold;line-height: 2.6em;display: block">{{importerUploadCtrl.waitingMessage}}</span></progressbar>
    </div>
  </div>
</div>
