#importerOptions #importerOptionsFirst .panel-heading  {
  background:linear-gradient(90deg, #3A8AD3, darkgray);

}

#importerOptions #importerOptionsFirst .panel-body  {
  background:white;

}

#importerOptions #importerOptionsSecond .panel-heading  {
  background:linear-gradient(90deg, #3A8AD3, darkgray);
}

#importerOptions #importerOptionsThird .panel-heading  {
  background:linear-gradient(90deg, #3A8AD3, darkgray);
}

#importerOptions #importerOptionsFourth .panel-heading  {
  background:linear-gradient(90deg, red, orange);
}



#importerPanel{
  height:500px;
  border-radius:10px;
}

textarea {
  resize: vertical;
}

#stepThreeFields:first-child{
  margin-top:15px;
}

#stepThreeFields .panel{
  border-radius:10px;
}

#stepThreeFields .panel-heading{
  border-radius:5px;
  color:white;
  background:linear-gradient(270deg,black , black);
}

.whiteBackground{
  background-color:white;
}

.importerSystemTitle{
  text-align:center;
  background-image:url('../imgs/congruent_pentagon.png');
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px;
  border:1px solid grey;
  border-top:0;
}

.footer{
  height:150px;
  background:white;
}



div .formly-field button{
  margin-top:15px;
  background:#8AC007;
  width:100%;
  color:white;
  border:1px solid green;
}


#importerList > tbody > tr:hover{
  color:black;
  cursor:pointer;
}


/*----------------------*/

canvas {
  display: block;
  vertical-align: bottom;

  background-image: url("../imgs/diagonal_striped_brick.png");
  background-repeat: repeat;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}
