
<div class="importerContainer">
  <div class="importerContainerLeftMenu animated">
    <accordion close-others="true">
      <accordion-group is-open="importerUploadCtrl.optionStatus.firstOpen" id="importerOptionsFirst" style="border-color:black;" >
        <accordion-heading>
          <span style="font-size:150%;font-weight:bold;color:white">Create New Importer</span>
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': importerUploadCtrl.optionStatus.firstOpen, 'glyphicon-chevron-right': !importerUploadCtrl.optionStatus.firstOpen}" style="font-size:150%;color:white"></i>
        </accordion-heading>
        <formly-form model="importerUploadCtrl.formModel" fields="importerUploadCtrl.formFields"></formly-form>
        <ul style="margin-top:5px">
          <li ng-repeat="file in importerUploadCtrl.formModel.Browse">
            {{file.name}}
            <i class="glyphicon glyphicon-remove" style="float:right;padding-right:5px" ng-click="importerUploadCtrl.removeFile(file)"></i>
          </li>
        </ul>
        <button type="button" ng-disabled = "(!importerUploadCtrl.formModel['Browse'].length) || (!importerUploadCtrl.stepOne)" ng-click = "importerUploadCtrl.submitFile()" class="btn btn-success col-md-11" style="margin-top:15px;background:#8AC007">Submit</button>
        <button type="button" ng-click = "importerUploadCtrl.cancelFile()" ng-disabled = "!importerUploadCtrl.stepOne" class="btn btn-danger col-md-11" style="margin-top:15px;background:#FF4500">Cancel</button>
      </accordion-group>
      <accordion-group is-open="importerUploadCtrl.optionStatus.secondOpen" id="importerOptionsSecond" style="border-color:black">
        <accordion-heading>
          <span style="font-size:150%;font-weight:bold;color:white">System Status</span>
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': importerUploadCtrl.optionStatus.secondOpen, 'glyphicon-chevron-right': !importerUploadCtrl.optionStatus.secondOpen}" style="font-size:150%;color:white"></i>
        </accordion-heading>
        System Status Info
      </accordion-group>

      <accordion-group is-open="importerUploadCtrl.optionStatus.thirdOpen" id="importerOptionsThird" style="border-color:black">
        <accordion-heading>
          <span style="font-size:150%;font-weight:bold;color:white">Default Display Setting</span>
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': importerUploadCtrl.optionStatus.thirdOpen, 'glyphicon-chevron-right': !importerUploadCtrl.optionStatus.thirdOpen}" style="font-size:150%;color:white"></i>

        </accordion-heading>
        Default Setting Info
      </accordion-group>

      <accordion-group is-open="importerUploadCtrl.optionStatus.fourthOpen" id="importerOptionsFourth" style="border-color:black">
        <accordion-heading>
          <span style="font-size:150%;font-weight:bold;color:white">Help</span>
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': importerUploadCtrl.optionStatus.fourthOpen, 'glyphicon-chevron-right': !importerUploadCtrl.optionStatus.fourthOpen}" style="font-size:150%;color:white"></i>

        </accordion-heading>
        Help Info
      </accordion-group>

    </accordion>

  </div>

  <div class="importerContainerRightPanel animated" >

    <div class="importerStepOne" ng-show="importerUploadCtrl.stepOne">
      <alert ng-hide = "importerUploadCtrl.stepOneLoading" class="animated fadeInDown"  id="stepOne{{$index}}" ng-repeat="alert in importerUploadCtrl.alerts.stepOne" type="{{alert.type}}" close="importerUploadCtrl.closeAlert($index, 'stepOne')" >{{alert.msg}}</alert>
      <div class="importerStepOneWell animated fadeIn">
        <div class = "waitingSymbol" ng-show="importerUploadCtrl.stepOneLoading">
          <alert class="animated fadeInDown" id="stepOne{{$index}}" ng-repeat="alert in importerUploadCtrl.alerts.stepOne" type="{{alert.type}}" close="importerUploadCtrl.closeAlert($index, 'stepOne')">
            {{alert.msg}}
          </alert>
          <img ng-show = "importerUploadCtrl.systemStatus == 'Normal'" src="../imgs/477.GIF"/>
        </div>

        <table class = "importerListTable" ng-show="!importerUploadCtrl.stepOneLoading">
          <thead>
            <tr >
              <th>
                <label for="Name" style="color:white">Name</label><input type="text" name="Name" ng-model="importerUploadCtrl.search['importerName']"></input>
              </th>
              <th>
                <label for="Location" style="color:white">Location</label><input type="text" name="Location" ng-model="importerUploadCtrl.search['location']"></input>
              </th>
              <th>
                <label for="Owner" style="color:white">Owner</label><input type="text" name="Owner" ng-model="importerUploadCtrl.search['ownerName']"></input>
              </th>
            </tr>
          </thead>
          <tbody style="color:white">
            <tr ng-repeat = "importer in importerUploadCtrl.importerList | filter:importerUploadCtrl.search" ng-click="importerUploadCtrl.requestImporter(importer)" ng-show="((importerUploadCtrl.importerListCurrentPage * 13 - 13) <= $index) && ($index < (importerUploadCtrl.importerListCurrentPage * 13))">
              <td>{{importer["importerName"]}}</td>
              <td>{{importer["location"]}}</td>
              <td>{{importer["ownerName"]}}</td>
            </tr>
          </tbody>
        </table>

      </div>
      <pagination total-items="importerUploadCtrl.importerList.length" ng-model="importerUploadCtrl.importerListCurrentPage" max-size="10" class="pagination-sm col-md-7 animated rotateInUpLeft" style="margin-top:7px;font-size:150%"boundary-links="true" rotate="false" items-per-page="13"></pagination>
      <div class="importerSystemTitle col-md-5 animated rotateInUpRight" ng-show="importerUploadCtrl.stepOne"><span style="font-size:200%;color:black;">Importer System</span><span style="font-size:100%;color:orange;font-style:italic"> by Greenfield</span></div>


    </div>

    <div class="importerStepTwoB" ng-show="importerUploadCtrl.stepTwoB">
      <div class="importerStepTwoBHeader">
        <div class="importerSystemTitle animated fadeInDown" ng-show="importerUploadCtrl.stepTwoB"><span style="font-size:200%;color:black;">Importer System</span><span style="font-size:100%;color:orange;font-style:italic"> by Greenfield</span></div>
        <div class="importerDataItemTabs animated fadeInDown" ng-click="importerUploadCtrl.backToImporterList()">Importer List</div>
        <div class="importerDataItemTabs active animated fadeInDown">Importer Info</div>
        <div class="importerDataItemTabs animated fadeInDown">Linked Form</div>
      </div>


      <div class="importerStepTwoBWell animated fadeInRight">
        <alert class="animated fadeInDown" id="stepOne{{$index}}" ng-repeat="alert in importerUploadCtrl.alerts.stepTwoB" type="{{alert.type}}" close="importerUploadCtrl.closeAlert($index, 'stepTwoB')" >{{alert.msg}}</alert>

        <div class="importerStepTwoBWellLeft" >
          <div class="importerNameCard">
            <div><span><i class="glyphicon glyphicon-file"></i> Name: </span><span>{{importerUploadCtrl.importerToDisplay.importerName}}</span></div>
            <div><span><i class="glyphicon glyphicon-globe"></i> Location: </span><span>{{importerUploadCtrl.importerToDisplay.location}}</span></div>
            <div><span><i class="glyphicon glyphicon-user"></i> Owner: </span><span>{{importerUploadCtrl.importerToDisplay.ownerName}}</span></div>
          </div>
          <div class="importerStepTwoBDataItems">

            <div class="title">
              <span>Avaliable Data Items</span>
            </div>

            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1" style="color:#3A8AD3">
                <i class="glyphicon glyphicon-search"></i>
              </span>
              <input type="text" class="form-control" placeholder="Search" ng-model="importerUploadCtrl.serach2.fieldName">
            </div>

            <div class="importerStepTwoBDataItemsList">

              <div class="importerStepTwoBDataItem" ng-repeat = "dataItem in importerUploadCtrl.importerToDisplayContent | filter: importerUploadCtrl.serach2" ng-class="{'active' : importerUploadCtrl.currentDataItem === dataItem}" ng-click="importerUploadCtrl.chooseDataItem(dataItem)">
                {{dataItem.fieldName}}
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': importerUploadCtrl.currentDataItem !== dataItem, 'glyphicon-chevron-right': importerUploadCtrl.currentDataItem === dataItem}" style="margin-top:3px"></i>
              </div>

            </div>
          </div>
        </div>

        <div class="importerStepTwoBWellRight">
          <div class="title">
            {{importerUploadCtrl.currentDataItem.fieldName}}
            <span>
              <i class="glyphicon glyphicon-ok"></i>
              ACTIVE
            </span>
          </div>

          <button type="button" class="btn fieldButton" ng-repeat="(key, config) in importerUploadCtrl.currentDataItem.availableOptions"><span>{{key}}: {{config.value}}</span></button>

          <hr style="margin-top:5px;border-color:linen">

          <div class="importerStepTwoBDataItemData">
            <table class="importerStepTwoBDataItemTable">
              <thead>
                <th>Date</th>
                <th>{{importerUploadCtrl.currentDataItem.fieldName}}</th>
              </thead>
              <tbody >
                <tr ng-repeat = "entry in importerUploadCtrl.importerDataItemData">
                  <td>{{entry[0] | date : 'yyyy/MM/dd HH:mm:ss.sss'}}</td>
                  <td>{{entry[1]}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="importerStepTwoBDataItemOptions animated fadeInUp">
            <button type="button" class="btn btn-info">View More Data</button>
            <button type="button" class="btn btn-warning">Delet This Data Item</button>
          </div>



        </div>
      </div>
    </div>

    <div class="importerStepTwo" ng-show="importerUploadCtrl.stepTwo">
      <div class="progressbar-container">
        <progressbar ng-show="importerUploadCtrl.stepTwo" max = "100" style="height:3em" class="progress-striped active" value="importerUploadCtrl.fileUploadProgress" type="warning"><i style="line-height:3.5em"><span style="  font-size: 130%;font-style: normal;color: white;font-weight: bold;">{{importerUploadCtrl.waitingMessage}}</span></i></progressbar>
      </div>
    </div>

    <div class="importerStepThree" ng-show="importerUploadCtrl.stepThree">

      <div class="importerStepThreeHeader animated fadeInRight">
        <div class="title">
          Avaliable Fields
        </div>
        <div class="options">
          <button class="btn" ng-click="importerUploadCtrl.decideImport()">Decide</button>
          <button class="btn" ng-click="importerUploadCtrl.cancelImport()">Cancel</button>
        </div>
      </div>

      <div class = "importerStepThreeWell animated fadeInUp">
        <div class = "importerStepThreeField animated flipInX" ng-repeat="(name, form) in importerUploadCtrl.stepThreeFormCollection" >
          <div class="panel panel-default">
            <div class="panel-heading">
              {{name}}<input type="checkbox" style="float:right" ng-model="form.checked">
            </div>
            <div class="panel-body" dave-smart-disable="form.fields" dave-content-checked="form.checked">
              <formly-form model="form" fields="form.fields"></formly-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
