

<div class="input-group" style="margin-top:10px">
  <span class="input-group-addon" id="basic-addon1" style="color:#3A8AD3">Name</span>
  <input type="text" class="form-control" placeholder="example" ng-model="model[options.key].name">
</div>

<div class="input-group" style="margin-top:10px">
  <span class="input-group-addon" id="basic-addon1" style="color:#3A8AD3">Location</span>
  <input type="text" class="form-control" placeholder="example" ng-model="model[options.key].location">
</div>

<div class="input-group" style="margin-top:10px">
  <span class="input-group-addon" id="basic-addon1" style="color:#3A8AD3">Description</span>
  <textarea class="form-control" rows="3" ng-model="model[options.key].description"></textarea>
</div>

<div class="input-group"  style="margin-top:10px">
  <span class="input-group-addon" id="basic-addon1" style="color:#3A8AD3">Select A File</span>
  <input type="file" class="form-control" accept=".csv" ngf-select  ngf-change="fileSelected($files, $event)" ng-model="uploadfile">
</div>



<div class="col-md-6">
  <button type="button" ng-disabled = "model[options.key] === {}" ng-click = "submitFile()" class="btn btn-success col-md-11" style="margin-top:15px;background:#8AC007">Submit</button>
</div>
<div class="col-md-6">
  <button type="button" ng-click = "cancelFile()" class="btn btn-danger col-md-11" style="margin-top:15px;background:#FF4500">Cancel</button>
</div>

<!--<div>
<pre ng-repeat="(key, val) in this" ng-if="key !== 'uploader'">$scope.{{key}} = {{val | json}}</pre>
</div>-->
